server:
  port: 8081

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

security:
  jwt:
    secret: "CHANGE_ME_SUPER_SECRET_32_CHARS_MIN_123456"

hotel:
  client:
    connect-timeout-ms: 500
    read-timeout-ms: 2000
    retries: 3
    backoff-ms: 200
