server:
  port: 8082

spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:h2:mem:hoteldb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

security:
  jwt:
    secret: "CHANGE_ME_SUPER_SECRET_32_CHARS_MIN_123456"
